body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #333;
}

.hero {
    background-color: #1F2937;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    font-size: 12px;
    color: #E5E7EB;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.calltoaction {
    background-color: #3882F6;
}

#information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.footer {
    background-color: #1F2937;
}

.button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border-color: white;
    border-width: 5px;
}

.navigator {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links {
    gap: 10rem;
}

.split-container {
    display: flex;
    gap: 5rem;
    padding: 2rem;
    align-items: center;
}

.navigator .nav-links {
    display: flex;
    gap: 40px;
}

